.table-graph-container {
  padding: 20px;
  flex-grow: 1;
}

.search-container-tables {
  width: 500px;
}

.search-bar {
  width: 100%;
}

.pagination {
  justify-content: end;
}

.wrapper-paginator {
  width: 95%;
}

.fixed-width-table {
  table-layout: fixed;
}
