.group-panel-container {
    height: calc(100vh - 62px);
    min-width: 300px;
    border-right: 1px solid #000;
    padding: 20px;
    font-size: 20px;
}

.group-panel-container h1 {
    font-size: 24px;
    font-weight: 600;
    /* margin: 0px; */
    margin-bottom: 20px;
}