/* Панель навигации */
.navbar {
    width: 100%;
    padding: 16px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-user {
    background: linear-gradient(to right, #22c55e, #10b981); /* green */
  }
  
  /* Основной контент */
  main {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 16px;
    text-align: center;
  }
  
  .main-content h1 {
    font-size: 2rem;
    margin-bottom: 16px;
    color: #1f2937;
  }
  
  .main-content p {
    color: #4b5563;
    margin-bottom: 24px;
  }
  
  .login-btn {
    background-color: #6366f1;
    color: white;
    padding: 12px 24px;
    border-radius: 6px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-btn:hover {
    background-color: #4f46e5;
  }
  
  /* Для вход навигации */
  .navbar-guest {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #000000;
    background-color: white;
  }
  
  .brand {
    position: absolute;
    left: 95px;
    font-size: 12px;
    color: black;
  }
  
  .nav-center {
    margin: 0 auto;
    display: flex;
  }
  
  .btn-link {
    text-decoration: none;
    color: #003cff;
    padding: 12px;
    font-weight: 500;
    font-size: 12px;
  }
  
  .active-tab {
    border: 1px solid #00030b;
    border-bottom: none;
    padding: 12px;
    border-radius: 0px;
  }
  